@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.test {
  display: inline;
  background-color: beige;
  color: red;
  font-size: 30px;
  text-align: justify;
}

.test_div {
  /* margin: 10; */
  text-align: center;
  border: 2px dotted;
}

ul {
  color: chocolate;
}
/* ul li {
     color: blueviolet;
 } */

.li_test {
  color: blue;
}

input[type="text"] {
  background-color: pink;
  color: blue;
}

input[type="password"] {
  color: brown;
}

.font1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
}

.fontp {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  font-weight: bold;
}

.box1 {
}

.box2 {
  border: 1px solid red;
  padding: 5px;
  margin: 10px auto;
  text-align: center;
  width: 300px;
  height: 50px;
}

a:link {
  /* font-family: 'Dancing Script', cursive; */
  text-decoration: none;
  color: green;
  font-size: 30px;
}

/* a:visited {
    color: yellow;
} */

a:hover {
  color: red;
}
a:active {
  color: blue;
}

.dropdown-items {
  display: none;
}

.dropdown {
  border: 1px solid;
  display: block;
  text-align: center;
}
.dropdown:hover .dropdown-items {
  display: block;
}

.test_ul ul {
  color: black;
  font-size: 25px;
  list-style: none;
}

.test_ul ul li:first-child {
  color: blue;
}
.test_ul ul li:last-child {
  color: red;
}
.test_ul ul li:nth-child(3) {
  color: yellowgreen;
}

.pseudo-el::first-letter {
  color: goldenrod;
  font-style: italic;
  font-size: 30px;
  font-weight: bold;
}
.pseudo-el::before {
  content: "Before";
  color: green;
}

.pseudo-el::after {
  content: url("https://icons.iconarchive.com/icons/treetog/i/48/Floppy-Small-icon.png");
  /* width: 50px;
height: 50px; */
}

#top_con {
  /* display: flex;
    justify-content: center;  */
  /* align-items: center; */
}
.container {
  background-color: rgb(209, 113, 78);
  width: 450px;
  height: 350px;
  /* positions fixed; */
}

.box {
  width: 150px;
  height: 100px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-1 {
  background-color: coral;
  /* top: 10px; */
  /* position relative */
  /* position: relative;
    bottom: 12px;
    left: 12px; */
  /* padding: 10px auto; */
}
.box-2 {
  background-color: rgb(94, 167, 100);
  /* position: relative; */
  /* bottom: 12px;
    left: 12px; */
  /* width: 400px;
 height: 100px; */
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 11;
}
.box-3 {
  background-color: rgb(107, 90, 199);
  /* position: relative;
z-index: 12; */
  position: sticky;
  top: 0;
}

.scroll {
  background-color: azure;
  border: 3px solid red;
  width: 300px;
  height: 200px;
  overflow-y: auto;
}

.box_transition {
  width: 200px;
  height: 200px;
  background-color: orange;
  margin: 0 auto;
  /* transition-property:all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(.22,1.22,.98,.12); */
  transition: all 1s;
 display: flex;
 align-items: center;
 justify-content: center;
}

.box_transition:hover {
  background-color: orangered;
  height: 400px;
  width: 400px;
}
